   <footer class="w-100 bg-primary text-white" id="footer">
      <div class="row w-100 mb-2">  <img src="imgs/logo_footer.svg" alt="Logo footer" id="logo_footer"> </div>
      <div class="row w-100" id="col_footer">
         <div>
            <ul class="nav_footer">
               <li><a href="/">Inicio</a></li>
               <li><a href="somos">Somos Exincor</a></li>
               <li><a href="servicios">Servicios</a></li>
               <li><a href="sustentabilidad">Sustentabilidad</a></li>
               <li><a href="galeria">Galeria</a></li>
               <li><a href="contacto">Contacto</a></li>
            </ul>
         </div>
         <div>
            <p class="ar">Tel/Fax. +54 388 4270008/7952 <br>
               Mail. <a href="#">exincor@exincor.com.ar</a><br>
               Dir. La Noria S/N - Río Blanco<br>
               Ruta Nº1 km 12 - Y4601XAD<br>
               Exincor S.R.L. - Jujuy - Argentina</p>
         </div>
      </div>
   </footer>