   <nav id="nav">
      <a href="#" class="close bi bi-x" id="close"> </a>
      <ul>
         <li class="mb-1"><img src="imgs/logo_footer.svg" alt="Logo nav"></li>
         <li><a href="/">Inicio</a></li>
         <li><a href="somos">Somos Exincor</a></li>
         <li><a href="servicios">Servicios</a></li>
         <li><a href="sustentabilidad">Sustentabilidad</a></li>
         <li><a href="galeria">Galeria</a></li>
         <li><a href="contacto">Contacto</a></li>
         <li> &nbsp; </li>
         <li>   
            <a href="#" target="_blank" class="bi bi-facebook icono_redes"></a> &nbsp; 
            <a href="#" target="_blank" class="bi bi-instagram icono_redes"></a>           
         </li>
      </ul>
   </nav>