<!DOCTYPE html>
<html lang="en">
   {{> head }}
<body>
<main>
	{{> header }}
	{{> nav }}
   <section class="w-100">
      <div class="content text-primary p-1 flex flex_cc h-100">
         <h2>Página no encontrada :-(</h2>
      </div>
   </section>
	{{> footer }}
</main>
   <script src="js/main.js"></script>
</body>
</html>