<!DOCTYPE html>
<html lang="en">
   {{> head titulo="Página no encontrada"}}
<body>
<main>
	{{> header}}
	{{> nav}}
   <section class="w-100 p-1 text-primary center ">
      <h2>Página no encontrada :-(</h2>
   </section>
	{{> footer}}
</main>
   <script src="js/main.js"></script>
</body>
</html>