<!DOCTYPE html>
<html lang="en">
   {{> head galeria=1 }}
<body>
<main>
      
	{{> header}}
	{{> nav galeria=1 }}

   <section class="w-100" id="galeria">
      <div class="content p-1">
         <div class="row text-primary w-100">
            <h1 class="mb-2">4.</h1> 
            <h1>Galería</h1>
         </div>
      </div>
   </section>

   <section class="w-100">
      <div class="row w-100" id="galeria_items">

         <a href="https://picsum.photos/id/230/400" target="_blank" class="item_galeria"><img src="https://picsum.photos/id/230/400" alt="Imagen" class="w-100"></a>
         <a href="https://picsum.photos/id/230/400" target="_blank" class="item_galeria"><img src="https://picsum.photos/id/231/400" alt="Imagen" class="w-100"></a>
         <a href="https://picsum.photos/id/230/400" target="_blank" class="item_galeria"><img src="https://picsum.photos/id/232/400" alt="Imagen" class="w-100"></a>
         <a href="https://picsum.photos/id/230/400" target="_blank" class="item_galeria"><img src="https://picsum.photos/id/233/400" alt="Imagen" class="w-100"></a>
         <a href="https://picsum.photos/id/230/400" target="_blank" class="item_galeria"><img src="https://picsum.photos/id/234/400" alt="Imagen" class="w-100"></a>
         <a href="https://picsum.photos/id/230/400" target="_blank" class="item_galeria"><img src="https://picsum.photos/id/235/400" alt="Imagen" class="w-100"></a>
         <a href="https://picsum.photos/id/230/400" target="_blank" class="item_galeria"><img src="https://picsum.photos/id/236/400" alt="Imagen" class="w-100"></a>
         <a href="https://picsum.photos/id/230/400" target="_blank" class="item_galeria"><img src="https://picsum.photos/id/237/400" alt="Imagen" class="w-100"></a>
         <a href="https://picsum.photos/id/230/400" target="_blank" class="item_galeria"><img src="https://picsum.photos/id/238/400" alt="Imagen" class="w-100"></a>
         <a href="https://picsum.photos/id/230/400" target="_blank" class="item_galeria"><img src="https://picsum.photos/id/239/400" alt="Imagen" class="w-100"></a>
         <a href="https://picsum.photos/id/230/400" target="_blank" class="item_galeria"><img src="https://picsum.photos/id/240/400" alt="Imagen" class="w-100"></a>
         <a href="https://picsum.photos/id/230/400" target="_blank" class="item_galeria"><img src="https://picsum.photos/id/241/400" alt="Imagen" class="w-100"></a>

      </div>
   </section>

	{{> footer galeria=1 }}

</main>
   <script src="js/main.js"></script>
</body>
</html>