<!DOCTYPE html>
<html lang="en">
   {{> head index=1 }}
<body>
<main>
	{{> header }}
	{{> nav index=1 }}
   <section class="w-100" id="home" >
      <div class="content p-1 h-100">
         <div class="text-primary" id="frase_home"> 
            <h4>Fabricamos cajas y envases de cartón</h4>
            <h2>CALIDAD, DISEÑO<br>Y TECNOLOGÍA </h2>
         </div>
      </div>
   </section>
	{{> footer index=1 }}
</main>
   <script src="js/main.js"></script>
</body>
</html>