<!DOCTYPE html>
<html lang="en">
   {{> head servicios=1 }}
<body>
<main>
	{{> header}}
	{{> nav servicios=1 }}
   <section class="w-100" id="servicios">
      <div class="content p-1">
         <div class="row w-100 text-primary mb-1"> 
            <h1 class="mb-2">2.</h1>
            <h4>Nuestros</h4>
            <h1>Servicios </h1>
         </div>
         <div class="row w-100" id="servicios_items">

            {{#each results}}
               <div class="item center w-30" id="servicios_item1">
                  <div class="item_img w-100 mb-2">
                     <img src="imgs/{{ imagen }}" alt="Icono1">
                  </div>
                  <h3 class="mb-2 text-primary">{{ nombre }}</h3>
                  <div class="item_txt w-100">
                     <small>{{ texto }}</small>
                  </div>
               </div>
            {{/each}}

         </div>
      </div>
   </section>
   
	{{> footer servicios=1 }}

</main>
   <script src="js/main.js"></script>
</body>
</html>