<!DOCTYPE html>
<html lang="en">
   {{> head titulo="Exincor Servicios"}}
<body>
<main>
      
	{{> header}}
	{{> nav}}

   <section class="w-100" id="servicios">
      <div class="content p-1">
         <div class="row w-100 text-primary mb-1"> 
            <h1 class="mb-2">2.</h1>
            <h4>Nuestros</h4>
            <h1>Servicios </h1>
         </div>
         <div class="row w-100" id="servicios_items">
            <div class="item center w-30" id="servicios_item1">
               <div class="item_img w-100 mb-2">
                  <img src="imgs/icono1.svg" alt="Icono1">
               </div>
               <h3 class="mb-2 text-primary">Diseño e Impresión</h3>
               <div class="item_txt w-100">
                  <small>Somos una empresa con experiencia y compromiso que promueve el progreso integral de la región y del país, convencidos de que trabajando y originando trabajo lograremos nuestros objetivos. </small>
               </div>
            </div>
            <div class="item center w-30" id="servicios_item2">
               <div class="item_img w-100 mb-2">
                  <img src="imgs/icono2.svg" alt="Icono1">
               </div>
               <h3 class="mb-2 text-primary">Desarrollo de Producto</h3>
               <div class="item_txt w-100">
                  <small>Somos una empresa con experiencia y compromiso que promueve el progreso integral de la región y del país, convencidos de que trabajando y originando trabajo lograremos nuestros objetivos. </small>
               </div>
            </div>

            <div class="item center w-30" id="servicios_item3">
               <div class="item_img w-100 mb-2">
                  <img src="imgs/icono3.svg" alt="Icono1">
               </div>
               <h3 class="mb-2 text-primary">Transporte</h3>
               <div class="item_txt w-100">
                  <small>Somos una empresa con experiencia y compromiso que promueve el progreso integral de la región y del país, convencidos de que trabajando y originando trabajo lograremos nuestros objetivos. </small>
               </div>
            </div>

            <div class="item center w-30" id="servicios_item4">
               <div class="item_img w-100 mb-2">
                  <img src="imgs/icono4.svg" alt="Icono1">
               </div>
               <h3 class="mb-2 text-primary">Asistencia Técnica</h3>
               <div class="item_txt w-100">
                  <small>Somos una empresa con experiencia y compromiso que promueve el progreso integral de la región y del país, convencidos de que trabajando y originando trabajo lograremos nuestros objetivos. </small>
               </div>
            </div>

            <div class="item center w-30" id="servicios_item5">
               <div class="item_img w-100 mb-2">
                  <img src="imgs/icono5.svg" alt="Icono1">
               </div>
               <h3 class="mb-2 text-primary">Laboratorio</h3>
               <div class="item_txt w-100">
                  <small>Somos una empresa con experiencia y compromiso que promueve el progreso integral de la región y del país, convencidos de que trabajando y originando trabajo lograremos nuestros objetivos. </small>
               </div>
            </div>

         </div>

      </div>
   </section>
   
	{{> footer}}

</main>
   <script src="js/main.js"></script>
</body>
</html>