<!DOCTYPE html>
<html lang="en">
   {{> head somos=1 }}
<body>
<main>
      
	{{> header}}
	{{> nav somos=1 }}

   <section class="w-100" id="somos">
      <div class="content p-1">
         <div class="row w-100 text-primary mb-2"><h1>1.</h1></div>
         <div class="row flex">
            <div class="col1">
               <h4 class="text-primary">Somos</h4>
               <h1 class="mb-2 text-primary">Exincor</h1>
               <p>{{texto}}</p>
            </div>
            <div class="col2">
               <img src="imgs/img_somos.jpg" alt="Somos" class="w-100">
            </div>
         </div>
      </div>
   </section>

	{{> footer somos=1 }}

</main>
   <script src="js/main.js"></script>
</body>
</html>