<!DOCTYPE html>
<html lang="en">
   {{> head titulo="Somos Exincor"}}
<body>
<main>
      
	{{> header}}
	{{> nav}}

   <section class="w-100" id="somos">
      <div class="content p-1">
         <div class="row w-100 text-primary mb-2"><h1>1.</h1></div>
         <div class="row flex">
            <div class="col1">
               <h4 class="text-primary">Somos</h4>
               <h1 class="mb-2 text-primary">Exincor</h1>
               <p>Somos una empresa con experiencia y compromiso que promueve el progreso integral de la región y del país, convencidos de que trabajando y originando trabajo lograremos nuestros objetivos. <br>
                     Ubicada en la localidad de Rio Blanco en la provincia de Jujuy, nuestra empresa se vuelve estratégicamente una importante competencia en materia de provisión de soluciones de embalajes para toda la región sudamericana.<br>
                     Creemos y confiamos en la calidad, diseño y tecnología que ofrecemos en cada uno los servicios que brindamos, como así también en el equipo de profesionales que conseguimos vincular. </p>
            </div>
            <div class="col2">
               <img src="imgs/img_somos.jpg" alt="Somos" class="w-100">
            </div>
         </div>
      </div>
   </section>

	{{> footer}}

</main>
   <script src="js/main.js"></script>
</body>
</html>