<!DOCTYPE html>
<html lang="en">
   {{> head titulo="Exincor Sustentabilidad"}}
<body>
<main>
      
	{{> header}}
	{{> nav}}

   <section class="w-100 bg_secondary" id="sustentabilidad">
      <div class="content text-white p-1">
         <div class="row w-100 mb-1"> 
            <h1 class="mb-1">3.</h1> 
            <h1>Sustentabilidad</h1>
         </div>
         <p class="mb-1">Somos una industria limpia que recicla el 95% de los residuos que genera y estamos conformando redes para gestionar la disposición final de los residuos restantes.  <br><br>

            Ya estamos trabajando para hacer un uso eficiente de la energía.
            <br><br>
            Trabajamos en forma permanente en la conformación de redes de interacción tendientes a desarrollar el potencial de la comunidad en la que nos 
            desenvolvemos.</p>
         <div class="row center"> <img src="imgs/icon_sustentabilidad.svg" alt="Sustentabilidad" > </div>
      </div>
   </section>
	
   {{> footer}}

</main>
   <script src="js/main.js"></script>
</body>
</html>